section, nav {
	text-align : center;
	width : 350px;
}

#start {
	text-align : left;
}

.setWin {
	background-color : #00FF00;
}

.points {
	font-size : 60px;
}

.sets {
	font-size : 30px;
}

#score, #score td, #score th  {
	border-collapse: collapse;
	border : 1px solid rgb(81, 81, 81);
	padding : 5px 3px;
}

#score td
{
    background-color : rgba(0,153,204,1);
    text-align : center;
}

#score td
{
    background-color : rgba(255,255,255,0.205);
}

.button[disabled], .button:hover[disabled]
{
    color: #333;
    border : 1px solid rgba(255,255,255,0.34);
    background-color: rgba(255,255,255,0.205);
    box-shadow:none;
}

label
{
    display : inline-block;
    padding : 5px 10px;
    border-bottom : 1px solid rgba(0,153,204,1);
    text-transform : uppercase;
}

@media screen and (max-width:480px) {


}


