<!DOCTYPE html>
<html class="no-js" ng-app='volleyApp'>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Volley Score</title>

		<link rel="stylesheet" href="include/style.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="include/ics.css" type="text/css" media="screen, projection" />
        <link href="http://fonts.googleapis.com/css?family=Roboto:regular,medium,thin,italic,mediumitalic" rel="stylesheet">
		
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
		<script>
		/* 
			Set Model Object
			--> setNumber
			--> points (?) Array or 2 vars
			--> timeOut (?) Array or 2 vars
			--> winnerTeam
			--> isSetOver()
			--> addPoint(team)
			--> addTimeOut(team)
			--> canAddTimeOut(team)
		//*/
            app = angular.module('volleyApp', []);
        </script>
        
        <script src="include/gamesService.js" ></script>
        <script src="include/sharedProperties.js" ></script>
        
        <script>    
            app.controller('matchCtrl', function($scope, gamesService) {
                $scope.service = 2;
				$scope.team1Name = gamesService.getTeamName(1);
				$scope.team2Name = gamesService.getTeamName(2);
            });

			app.controller('scoreCtrl', function($scope, sharedProperties) {
				$scope.currentSet = 1;
				$scope.scoreTeam1 = [0, 0, 0, 0, 0];
				$scope.scoreTeam2 = [0, 0, 0, 0, 0];
				$scope.setWinTeam1 = 0;
				$scope.setWinTeam2 = 0;
				$scope.isMatchOver = false;
				$scope.currentService = 1;
				
				$scope.team1Name = sharedProperties.getTeam1();
				$scope.team2Name = sharedProperties.getTeam2();
				
				$scope.addPoint = function(team) {
					$scope.currentService = team;
					if (team === 1) {
						$scope.scoreTeam1[$scope.currentSet -1]++;
					}
					else {
						$scope.scoreTeam2[$scope.currentSet -1]++;	
					}
					if ($scope.isSetOver()) {
						$scope.currentSet++;
						if (team === 1) {
							$scope.setWinTeam1++;
						} else {
							$scope.setWinTeam2++;
						}
						if ($scope.setWinTeam1 === 3 || $scope.setWinTeam2 ===3) {
							$scope.isMatchOver = true;
							alert('Match terminé');
						}
					}
				}

				$scope.isSetOver = function () {
		            var setMinimumPoint = 25;
		            if ($scope.currentSet === 5) {
		                setMinimumPoint = 15;
		            }

		            	//Check if one team has reach the set victory point with 2 points far ? 
		            if (($scope.scoreTeam1[$scope.currentSet - 1] >= setMinimumPoint 
		            	|| $scope.scoreTeam2[$scope.currentSet - 1] >= setMinimumPoint)
		                && Math.abs($scope.scoreTeam1[$scope.currentSet - 1] - $scope.scoreTeam2[$scope.currentSet - 1]) >= 2) {
		                return true;
		            }
		            return false;
		        };
			});
			
			app.controller('historyCtrl', function($scope, gamesService) {
                $scope.games = gamesService.getSavedGames();
                $scope.removeGame = function(index) {
                    gamesService.removeSavedMatch(index);
                    $scope.games = gamesService.getSavedGames();
                };
                $scope.clearGames = function() {
                    gamesService.clearSavedMatch();
                    $scope.games = [];
                };
            });
		</script>
	</head>
	<body>
		<!--<nav> 
			<ul class="tabs">
				<li><a id="homeMenu" data-section="home" href="#">Home</a></li>
				<li><a id="matchMenu" data-section="match" href="#">Match</a></li>
				<li><a id="todoMenu" data-section="todo" href="#">Todo</a></li>
			</ul>
		</nav>
		
		<section id="home">
            <h1>Volley Score</h1>
			<object data="include/volley.svg" type="image/svg+xml"></object>
			<p>Version 0.1</p>
		</section>	
-->
		<section id="match" ng-controller="matchCtrl">
            <!--<div id="start" data-bind="visible : !matchInProgress()">-->
            <div>
                <h1>Accueil</h1>
                <form>
				    <label>Equipe 1</label> <input type="text" ng-model="team1Name" />
				    <label>Equipe 2</label> <input type="text" ng-model="team2Name" />

                    <p>
                        <label>Service</label>
                        <input type="radio" name="serviceGroup" value="1" ng-checked="service == 1" /> <span>{{team1Name}}</span>
                        <input type="radio" name="serviceGroup" value="2" ng-checked="service == 2" /> <span>{{team2Name}}</span>
                    </p>
<!--
				    <input data-bind="click : startGame" class="button small" type="button" id="startBtn" value="Start"/>
				    -->
			    </form>
            </div>

            <div id="matchScore" ng-controller="scoreCtrl">
			    <h1>Score</h1>
			    <table id="score">
				    <tbody>
					<tr>
					    <th>Team</th>
                        <th></th>
					    <th>Set 1</th>
					    <th>Set 2</th>
					    <th>Set 3</th>
					    <th>Set 4</th>
					    <th>Set 5</th>
				    </tr>
				    <tr id="scoreTeam1">
					    <th>{{team1Name}}</th>
                        <td><span ng-show="currentService == 1">S</span></td>
					    <td class="set1"><span>{{scoreTeam1[0]}}</span></td>
					    <td class="set2"><span>{{scoreTeam1[1]}}</span></td>
					    <td class="set3"><span>{{scoreTeam1[2]}}</span></td>
					    <td class="set4"><span>{{scoreTeam1[3]}}</span></td>
					    <td class="set5"><span>{{scoreTeam1[4]}}</span></td>
				    </tr>
				    <tr id="scoreTeam2">
                        <th>{{team2Name}}</th>
                        <td><span ng-show="currentService == 2">S</span></td>
					    <td class="set1"><span>{{scoreTeam2[0]}}</span></td>
					    <td class="set2"><span>{{scoreTeam2[1]}}</span></td>
					    <td class="set3"><span>{{scoreTeam2[2]}}</span></td>
					    <td class="set4"><span>{{scoreTeam2[3]}}</span></td>
					    <td class="set5"><span>{{scoreTeam2[4]}}</span></td>
				    </tr>
					</tbody>
				</table>
				<div id="AddButton">
					<button class="button small" ng-disabled="isMatchOver" ng-click="addPoint(1)">Add point</button>
					<button class="button small" ng-disabled="isMatchOver" ng-click="addPoint(2)">Add point</button>
				</div>
				
				<div id="ToButton">
					<button class="button small" data-bind="click : function(data, event) { askTimeOut(1, event)}, enable: timeOut()[0].value() < 2">TO</button>
					<button class="button small" data-bind="click : function(data, event) { askTimeOut(2, event)}, enable: timeOut()[1].value() < 2">TO</button>
				</div>
			    
				<p>
				    <span class="points">{{scoreTeam1[currentSet -1 ]}}</span>
				    <span id="nbSetsTeam1">{{setWinTeam1}}</span>
				    <span class="points">&nbsp;-&nbsp;</span>
				    <span id="nbSetsTeam2">{{setWinTeam2}}</span>
                    <span class="points">{{scoreTeam2[currentSet -1 ]}}</span>
			    </p>
			    
			      <button class="button small" ng-show="isMatchOver">New Game</button>
		    </div>
		</section>
		
		<section id="histo" ng-controller="historyCtrl">    
            <p ng-hide="games.length === 0">{{games.length}} matchs sauvegardés<p/>
            <p ng-hide="games.length > 0">aucun match sauvegardé<p/>
            <a href="" ng-hide="games.length === 0" ng-click="clearGames">Tout supprimer</a>
            
            <div ng-repeat="game in games">
                <table class="score">
                    <tbody>
                    <tr>
                        <th>Team</th>
                        <th>Set 1</th>
                        <th>Set 2</th>
                        <th>Set 3</th>
                        <th>Set 4</th>
                        <th>Set 5</th>
                    </tr>
                    <tr id="scoreTeam1">
                        <th><span id="team1Name">{{game.teams[0].name}}</span></th>
                        <td class="set1"><span>{{game.sets[0].points[0].value}}</span></td>
                        <td class="set2"><span>{{game.sets[1].points[0].value}}</span></td>
                        <td class="set3"><span>{{game.sets[2].points[0].value}}</span></td>
                        <td class="set4"><span>{{game.sets[3].points[0].value}}</span></td>
                        <td class="set5"><span>{{game.sets[4].points[0].value}}</span></td>
                    </tr>
                    <tr id="scoreTeam2">
                        <th><span id="team1Name"></span>{{game.teams[1].name}}</th>
                        <td class="set1"><span>{{game.sets[0].points[1].value}}</span></td>
                        <td class="set2"><span>{{game.sets[1].points[1].value}}</span></td>
                        <td class="set3"><span>{{game.sets[2].points[1].value}}</span></td>
                        <td class="set4"><span>{{game.sets[3].points[1].value}}</span></td>
                        <td class="set5"><span>{{game.sets[4].points[1].value}}</span></td>
                    </tr>
                    </tbody>
                </table>
                <a href="" ng-click="removeGame($index)">Supprimer</a>
            </div>
        </section>

		<section id="todo">
			<h1>TODO</h1>
			<ul>
					<li>Retrieve point button</li>
					<li>Reset</li>
			</ul>
		</section>
</body>
</html>