<section id="histo">
  <p class="lead">
    <ng-pluralize count="history.matchs.length" when="history.matchForms"></ng-pluralize>
  </p>

  <div class="md-actions" layout="row" layout-align="end center">
  	<md-button  class="md-raised md-warn" ng-click="history.clearMatchs()">Tout supprimer</md-button>
  </div>

  <md-card ng-repeat="match in history.matchs">
    <md-card-content>
      <h2 class="md-title">{{match.teams.team1}} - {{match.teams.team2}}</h2>
        <match-score  class="md-list-item-text" match="match"></match-score>
		  <div class="md-actions" layout="row" layout-align="end center">
		    <md-button ui-sref="stat({matchId: $index})" class="md-raised md-primary">Stats</md-button>
			<md-button ng-click="history.removeMatch($index)" class="md-raised md-warn">Supprimer</md-button>
		  </div>
    </md-card-content>
  </md-card>
</section>
