<section id="histo">
    <p class="lead">
      <ng-pluralize count="history.matchs.length" when="history.matchForms"></ng-pluralize>
    </p>
    <p>
      <a href="" class="btn btn-danger" ng-hide="history.matchs.length === 0" ng-click="history.clearMatchs()"> <i class="glyphicon glyphicon-trash"></i> Tout supprimer</a>
    </p>

    <div class="list-group" ng-repeat="match in history.matchs">
        <match-score match="match"></match-score>

        <a class="btn btn-primary" ui-sref="stat({matchId: $index})"><i class="glyphicon glyphicon-stats"></i> Stats</a>
        <a class="btn btn-danger" href="" ng-click="history.removeMatch($index)"><i class="glyphicon glyphicon-trash"></i> Supprimer</a>
        </div>
    </div>
</section>
