<section id="match">
    <div ng-hide="matchCtrl.match.isMatchStarted">
        <h1>Nouveau Match</h1>
        <form role="form" name="matchCtrl.startMatchForm">

       <!--<md-content>-->
            <md-input-container>
              <label>Equipe 1</label>
              <input ng-model="matchCtrl.match.team1Name" required>
            </md-input-container>
            <md-input-container>
              <label>Equipe 2</label>
              <input ng-model="matchCtrl.match.team2Name"required>
            </md-input-container>

            <p>Service :</p>
            <md-radio-group class="md-primary" ng-model="matchCtrl.match.startService">
              <md-radio-button value="1">{{matchCtrl.match.team1Name}}</md-radio-button>
              <md-radio-button value="2">{{matchCtrl.match.team2Name}}</md-radio-button>
            </md-radio-group>
            <md-button ng-click="matchCtrl.startGame()" class="md-raised md-primary">Start</md-button>

        <!--</md-content>-->
        </form>
    </div>

    <div id="matchScore" ng-show="matchCtrl.match.isMatchStarted">
        <h1>Score</h1>
        <table class="table table-bordered" id="score">
            <tbody>
            <tr>
                <th>Team</th>
                <th></th>
                <th>Set 1</th>
                <th>Set 2</th>
                <th>Set 3</th>
                <th>Set 4</th>
                <th>Set 5</th>
            </tr>
            <tr id="scoreTeam1">
                <th>{{matchCtrl.match.team1Name}}</th>
                <td><span>{{matchCtrl.match.currentService | service:1}}</span></td>
                <td class="set1"><span>{{matchCtrl.match.scoreTeam1[0]}}</span></td>
                <td class="set2"><span>{{matchCtrl.match.scoreTeam1[1]}}</span></td>
                <td class="set3"><span>{{matchCtrl.match.scoreTeam1[2]}}</span></td>
                <td class="set4"><span>{{matchCtrl.match.scoreTeam1[3]}}</span></td>
                <td class="set5"><span>{{matchCtrl.match.scoreTeam1[4]}}</span></td>
            </tr>
            <tr id="scoreTeam2">
                <th>{{matchCtrl.match.team2Name}}</th>
                <td><span>{{matchCtrl.match.currentService | service:2}}</span></td>
                <td class="set1"><span>{{matchCtrl.match.scoreTeam2[0]}}</span></td>
                <td class="set2"><span>{{matchCtrl.match.scoreTeam2[1]}}</span></td>
                <td class="set3"><span>{{matchCtrl.match.scoreTeam2[2]}}</span></td>
                <td class="set4"><span>{{matchCtrl.match.scoreTeam2[3]}}</span></td>
                <td class="set5"><span>{{matchCtrl.match.scoreTeam2[4]}}</span></td>
            </tr>
            </tbody>
        </table>

        <div class="form-group">
          <md-button ng-click="matchCtrl.addPoint(1)" ng-disabled="matchCtrl.isMatchOver" class="md-raised md-primary">Add point</md-button>
          <md-button ng-click="matchCtrl.addPoint(2)" ng-disabled="matchCtrl.isMatchOver" class="md-raised md-primary">Add point</md-button>
        </div>

        <div class="form-group">
            <md-button class="md-raised md-primary" ng-disabled="matchCtrl.match.timeOut1 === 0" ng-click="matchCtrl.askTimeOut(1)">TimeOut ({{matchCtrl.match.timeOut1}})</md-button>
            <md-button class="md-raised md-primary" ng-disabled="matchCtrl.match.timeOut2 === 0" ng-click="matchCtrl.askTimeOut(2)">TimeOut ({{matchCtrl.match.timeOut2}})</md-button>
        </div>

        <div id="gameScore">
            <h1>{{matchCtrl.match.scoreTeam1[matchCtrl.match.currentSet -1 ]}}</h1>
            <h3 id="nbSetsTeam1">{{matchCtrl.match.setWinTeam1}}</h3>
            <span>&nbsp;-&nbsp;</span>
            <h3 id="nbSetsTeam2">{{matchCtrl.match.setWinTeam2}}</h3>
            <h1>{{matchCtrl.match.scoreTeam2[matchCtrl.match.currentSet -1 ]}}</h1>
        </div>
        <div class="form-group">
          <md-button class="md-raised md-primary" ng-show="matchCtrl.match.isMatchOver" ng-click="matchCtrl.newGame()">New Game</md-button>
          <md-button class="md-raised md-success" ng-disabled="matchCtrl.match.isMatchSaved" ng-show="matchCtrl.match.isMatchOver" ng-click="matchCtrl.saveMatch()">Save Match</md-button>
        </div>
    </div>
</section>
