<section id="match">
    <div ng-hide="isMatchStarted">
        <h1>Accueil</h1>
        <form role="form">
            <div class="form-group">
              <label class="control-label">Equipe 1</label>
              <input class="form-control" type="text" ng-model="team1Name" />
            </div>
            <div class="form-group">
              <label class="control-label">Equipe 2</label>
              <input class="form-control" type="text" ng-model="team2Name" />
            </div>
            <div class="form-group">
                <label control-label>Service</label>
            <div class="radio">
              <label>
                <input type="radio" name="serviceGroup" ng-value="1" ng-model="currentService" /> {{team1Name}}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="serviceGroup" ng-value="2" ng-model="currentService" /> {{team2Name}}
              </label>
            </div>
            </div>
            <div>
              <input ng-click="startGame()" class="btn btn-primary" type="button" id="startBtn" value="Start" />
            </div>
        </form>
    </div>

    <div id="matchScore" ng-show="isMatchStarted">
        <h1>Score</h1>
        <table class="table table-bordered" id="score">
            <tbody>
            <tr>
                <th>Team</th>
                <th></th>
                <th>Set 1</th>
                <th>Set 2</th>
                <th>Set 3</th>
                <th>Set 4</th>
                <th>Set 5</th>
            </tr>
            <tr id="scoreTeam1">
                <th>{{team1Name}}</th>
                <td><span>{{currentService | service:1}}</span></td>
                <td class="set1"><span>{{scoreTeam1[0]}}</span></td>
                <td class="set2"><span>{{scoreTeam1[1]}}</span></td>
                <td class="set3"><span>{{scoreTeam1[2]}}</span></td>
                <td class="set4"><span>{{scoreTeam1[3]}}</span></td>
                <td class="set5"><span>{{scoreTeam1[4]}}</span></td>
            </tr>
            <tr id="scoreTeam2">
                <th>{{team2Name}}</th>
                <td><span>{{currentService | service:2}}</span></td>
                <td class="set1"><span>{{scoreTeam2[0]}}</span></td>
                <td class="set2"><span>{{scoreTeam2[1]}}</span></td>
                <td class="set3"><span>{{scoreTeam2[2]}}</span></td>
                <td class="set4"><span>{{scoreTeam2[3]}}</span></td>
                <td class="set5"><span>{{scoreTeam2[4]}}</span></td>
            </tr>
            </tbody>
        </table>

        <div class="form-group">
            <button class="btn btn-primary" ng-disabled="isMatchOver" ng-click="addPoint(1)">Add point</button>
            <button class="btn btn-primary" ng-disabled="isMatchOver" ng-click="addPoint(2)">Add point</button>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" data-bind="click : function(data, event) { askTimeOut(1, event)}, enable: timeOut()[0].value() < 2">TO</button>
            <button class="btn btn-primary" data-bind="click : function(data, event) { askTimeOut(2, event)}, enable: timeOut()[1].value() < 2">TO</button>
        </div>

        <!--<div ng-repeat="set in difference">
            Set {{$index + 1}}
            <ul>
                 <li ng-repeat="diff in set track by $index">
                   {{diff}}
                 </li>
           </ul>
        </div>-->
        <!--
            Stats Graphs
            gRaphael ??
            angular chart
                -> http://bouil.github.io/angular-google-chart
                -> http://chinmaymk.github.io/angular-charts/
                ->https://github.com/pablojim/highcharts-ng ++ permet de gérer des séries avec un nombre de valeurs différentes
                ->http://www.sitepoint.com/creating-visualization-app-using-google-charts-api-angularjs-part4/
        -->

        <p>
            <h1 class="pull-left">{{scoreTeam1[currentSet -1 ]}}</h1>
            <h3 class="pull-left" id="nbSetsTeam1">{{setWinTeam1}}</h3>
            <span class="pull-left">&nbsp;-&nbsp;</span>
            <h3 class="pull-left" id="nbSetsTeam2">{{setWinTeam2}}</h3>
            <h1 class="pull-left">{{scoreTeam2[currentSet -1 ]}}</h1>
        </p>
        <div class="form-group">
          <button class="btn btn-primary" ng-show="isMatchOver">New Game</button>
          <button class="btn btn-success" ng-show="isMatchOver" ng-click="saveMatch()">Save Match</button>
        </div>
    </div>
</section>
