<h1>Stats</h1>

  <h2>Global Stats</h2>

  <p>Total points : {{stat.totalPoints()}}</p>
  <p>Total Sets : {{stat.nbSet()}}</p>

  <div>

    <div class="sm-4">
      <progress max="stat.totalPoints()">
        <bar value="stat.totalPointsWinForATeam(1)">{{stat.currentGame.teams.team1}} {{stat.totalPointsWinForATeam(1)}}</bar>
        <bar value="stat.totalPointsWinForATeam(2)" type="danger">{{stat.currentGame.teams.team2}} {{stat.totalPointsWinForATeam(2)}}</bar>
      </progress>
    </div>
  </div>

  <div class="row">
   <p class="col-md-4 bg-primary">Max consecutives points : {{stat.getMaxConsecutivePointsForMatch()}}</p>
  </div>

  <team-stats stats="stat.team1"></team-stats>
  <team-stats stats="stat.team2"></team-stats>

  <h2>Time Machine</h2>
  <p>
    Set : <numselect nb-options="stat.nbSet()" start-at-one="true" on-change="stat.tmSetChanged()" model="stat.currentSet"></numselect>
  </p>
  <p>
    Point : <numselect nb-options="stat.currentSetPoints()" start-at-one="true" model="stat.currentPoint"></numselect>
  </p>
  {{stat.currentSetScore(1)}} - {{stat.currentSetScore(2)}}

  <h2>Evolution points difference</h2>
  <p>
    Set : <numselect nb-options="stat.nbSet()" start-at-one="true" on-change="stat.scoreDifferenceEvolution()" model="stat.diffCurrentSet"></numselect>
  </p>
  Max difference in the set : {{stat.maxDiff}}

<!--  <div ac-chart="stat.chartType" ac-data="stat.data" ac-config="stat.config" id='chart' class='chart' style="width: 90%; height:250px;"></div>-->
<div>

<p>
  <a href="#/histo" class="btn btn-primary">Back</a>
</p>
</div>
