<h1>Stats</h1>

  <h2>Global Stats</h2>

  <p>Total points : {{totalPoints()}}</p>

  <div>

    <div class="sm-4">
      <progress max="totalPoints()">
        <bar value="totalPointsWinForATeam(1)">{{currentGame.teams.team1}} {{totalPointsWinForATeam(1)}}</bar>
        <bar value="totalPointsWinForATeam(2)" type="danger">{{currentGame.teams.team2}} {{totalPointsWinForATeam(2)}}</bar>
      </progress>
    </div>
  </div>

  <div class="row">
   <p class="col-md-4 bg-primary">Max consecutives points : {{getMaxConsecutivePointsForMatch()}}</p>
  </div>

  <h2>Time Machine</h2>
  <p>
    Set : <numselect nb-options="nbSet()" start-at-one="true" on-change="tmSetChanged()" model="currentSet"></numselect>
  </p>
  <p>
    Point : <numselect nb-options="currentSetPoints()" start-at-one="true" model="currentPoint"></numselect>
  </p>

  {{currentSetScore(1)}} - {{currentSetScore(2)}}

  <h2>Evolution points difference</h2>
  <p>
    Set : <numselect nb-options="nbSet()" start-at-one="true" on-change="scoreDifferenceEvolution()" model="diffCurrentSet"></numselect>
  </p>

  <div ac-chart="chartType" ac-data="data" ac-config="config" id='chart' class='chart' style="width: 90%; height:250px;"></div>
<div>

<p>
  <a href="#/histo" class="btn btn-primary">Back</a>
</p>
</div>
